<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/postsPageStyle.scss" />
        <title><%= post.title %></title>
    </head>
    <body>
        <div class="container">
            <%- include('layouts/header',{}) %>
            <div class="single-post">
                <h1><%= post.title %></h1>
                <img
                    src="/images/<%= post.image %>"
                    alt="<%= post.title %> poster"
                />
                <div class="author-hr"></div>
                <div class="author">
                    <p><%= post.authorId %></p>
                    <p><%= post.createdAt %></p>
                </div>
                <p><%= post.desc %></p>
            </div>
            <div class="eye-emoji">
                <div class="hr"></div>

                <img
                    style="margin: 0 auto"
                    src="/images/eyeEmoji.png"
                    alt="eye emoji"
                />
                <h3>What To Read Next?</h3>
            </div>
            <div class="similar-posts">
                <% similarPosts.slice(0,3).forEach(function(post){ %> <%-
                include('layouts/post',{post})%> <% })%>
            </div>
            <%- include('layouts/footer',{})%>
        </div>
    </body>
</html>
